 {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
}

article, aside, details, 
footer, header, hgroup, nav, section {
        display: block;
}
body {
        line-height: 1;
}

nav ul {
        list-style: none;
        padding-right: 100px; 
}

body{
        background-color: #fff;
        background-repeat:repeat-y;
        background-position:right;
        font-family: helvetica, arial;
}


/*--Layout-- */

#wrapper {
        background-color: white;
        width: 950px;
        margin: 0 auto;
        }

/*--header--*/


header {
        max-width:950px;
        margin-bottom:10px;
        border-bottom: 10px solid #fe6a64;
        margin: 0 auto;
        padding-bottom: 10px;

} 

/*--Navigation--*/

nav{
        width: 200px;
        float: left;
        text-align: center; 
        font-family: tahoma, monospace;
        padding: 30px 20px 0px 0px;
}

nav a:link, nav a:visited {
        border-radius: 1100%;
          width: 100px;
          height: 100px; 
          display:block;
          background-color: #1b325f;
          color: #fff200;
          text-align: center;
          margin-bottom: 35px;
          margin-left:40px;
          line-height: 7;
}

nav a:hover {
	color: #fff;
    background-color: #fe6a64;
}

nav a:active {
        color: #fe6a64;
}

/*--the guts/main content--*/

article {
        line-height: 25px;
        margin-left: 200px;
        margin-right: 129px;
        padding: 0px 20px 20px 20px;
}

p       {
    padding-bottom: 20px;
} 

    h1 { font-size: 26px;
    color: #1b325f;
    font-family: Palatino Linotype, Book Antiqua, Palatino, Serif;
            }

    h2 {
        font-size: 20px;
        color: #fe6a64;
        font-family: Palatino Linotype, Book Antiqua, Palatino, Serif;
}

    h3 {
        font-size: 23px;
        color: #4982be;
        font-family: Palatino Linotype, Book Antiqua, Palatino, Serif;
}


footer {
        max-width: 950px;
        background-color: #fff;
        text-align: center;
        padding-top: 10px;
        border-top: 10px solid #fd6f60;
        margin: 0 auto;
}

footer li {
        display: inline;
}


a:hover {
        color: #1942B2;
        text-decoration: none;
}

/*--link rules--*/

a:link {
        color: #1b325f;
        text-decoration: none;
}

a:visited {
        color: #1b325f;
        text-decoration: none;
}

a:hover {
        color: #fff200;
        text-decoration: none;
}

nav {
        width: 100px;
        font-size: 14px;
        float: left;
        font-family: helvetica, ;
}

.related { /* helper class for images and supporting content */
    float: right;
    width: 190px; 
    margin: 8px 8px 0 13px;
}

.imageclass { /* helper class for images and supporting content */
    float: right;
    width: 135px; 
    height: 135px;
    margin: 8px 8px 0 20px;
}

.imageclass_2 { /* helper class for images and supporting content */
    float: right;
    width: 200px;
    margin: 8px 8px 0 8px;
}


/*--Mobile optimization--*/

@media screen and (max-width: 600px) 
    {
        width: 120%;
        border-top: 10px solid: #fd6f60;
        padding-top: 2%;
        float: left;
        list-style: none;
}

nav li {
        float: left;
        margin-left:1%;
}

header h1 {
        width: 80%;
        text-align: center;
}

header h2 {
        width: 80%;
        padding-left: 0px;
        text-align: center;
        padding-bottom: 0:
}
}